@import "normalize.css";
@import "skeleton.css";

@FONT_SIZE: 14px;
@MIN_CARD_HEIGHT: 70;
@MARGIN: 10px;
@BUTTON_WIDTH: 22%;
.bordered {
  border: dashed #E2E4E6 1px;
}

.right-bordered {
  border-right: dashed #E2E4E6 1px;
}

.textarea-wide {
  width: calc(100% - @BUTTON_WIDTH - @MARGIN );
}

ul, body, ul ul {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  page-break-before: always
}

li {
  list-style: none;
  margin: @MARGIN;
  padding: @MARGIN;
}

textarea, input, button {
  outline: none;
}

@HEADER_BUTTON_WIDTH: 110px;
@HEADER_BUTTON_HEIGHT: 38px;
.header {
  text-align: center;
  font-size: 19px;
  margin: 2*@MARGIN;
  * {
    vertical-align: top;
  }
  button {
    width: @HEADER_BUTTON_WIDTH;
    margin: @MARGIN;
    height: 38px;
  }
  input {
    height: @HEADER_BUTTON_HEIGHT - 4;
    padding-left: 10px;
    width: @HEADER_BUTTON_WIDTH - 12;
    margin: @MARGIN;
    border: 1px solid #bbb;
    border-radius: 4px;
  }
}

.menu .boards li {
  cursor: pointer;
  background-color: #bbb;
  display: inline-block;
  padding: 11px 20px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.fade {
  animation: fade 0.7s;
  opacity: 1;
}

@keyframes fade {
   from {opacity: 0}
   to {opacity: 1}
 }

.script-hero {
  text-align: center;
}

.card {
  text-align: left;
  &.edited {
    border-color: #F77;
  }

  .bordered;
  width: calc(100% - (4 * @MARGIN));
  > *:not(h3) {
    display: inline-block;
  }
  textarea, input {
    background: none;
    border: none;
    resize: none;
    overflow: hidden;
  }
  textarea {
    display: inline-block;
    height: @MIN_CARD_HEIGHT;
    font-size: @FONT_SIZE;
    vertical-align: top;
    margin: 0;
    .textarea-wide;
  }
  input {
    width: calc(100% - @BUTTON_WIDTH - 21px);
  }
  .name {
    .right-bordered;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: @MARGIN 0 0 @MARGIN;
    margin-right: -1 * @MARGIN;
    padding-bottom: @MARGIN;
  }
  h3.name{
    margin: @MARGIN 0 0 0;
  }
  .desc {
    .right-bordered;
    padding-right: @MARGIN;
  }
  .title-and-buttons {
    width: @BUTTON_WIDTH;
    padding: 0 0 0 10px;
    margin: -30px 0 0 0;
    > * {
      width: 100%;
      margin: 0 0 @MARGIN 0;
      padding:0;
      text-align: center;
    }
  }
}

.print {
  * {
    border: none;
    border-right: none!important;
  }

  .card {
    .desc {
      width: 100%;
    }
  }
  .title-and-buttons {
    display: none;
  }
}